<header class="header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-sm-0">
                <div class="logo">
                    <a routerLink="/"
                        ><img src="assets/images/logo.png" alt="logo"
                    /></a>
                </div>
            </div>

            <div class="col-lg-8 col-sm-6 text-end pr-0">
                <div class="header-content-right">
                    <ul class="header-contact">
                        <li>
                            <a [href]="socialDataService.urlPhone"
                                ><i class="bx bxs-phone-call"></i>
                                {{ socialDataService.phone }}</a
                            >
                        </li>
                        <li>
                            <a [href]="socialDataService.urlEmail"
                                ><i class="bx bxs-envelope"></i>
                                {{ socialDataService.email }}</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6 text-end pl-0">
                <div class="header-content-right">
                    <ul class="header-social">
                        <li>
                            <a
                                [href]="socialDataService.urlInstagram"
                                target="_blank"
                                ><i class="bx bxl-instagram"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                [href]="socialDataService.urlFacebook"
                                target="_blank"
                                ><i class="bx bxl-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                [href]="socialDataService.urlEmail"
                                target="_blank"
                            >
                                <i class="bx bxs-envelope"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                [href]="socialDataService.urlWhatsapp"
                                target="_blank"
                            >
                                <i class="bx bxl-whatsapp"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="{{ navbarClass }}">
    <div class="main-nav" [ngClass]="{ sticky: isSticky }">
        <div class="container">
            <nav
                class="navbar navbar-expand-lg navbar-light"
                [class.active]="classApplied"
            >
                <a class="navbar-brand d-none" routerLink="/">
                    <img src="assets/images/logofooter.png" alt="logo" />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    (click)="toggleClass()"
                >
                    <span class="burger-menu">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </button>
                <div
                    class="collapse navbar-collapse mean-menu"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav text-left">
                        <li class="nav-item">
                            <a
                                routerLink="/"
                                (click)="toggleClass()"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >Inicio</a
                            >
                            <!-- 
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home One</a></li>

                                <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Two</a></li>

                                <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Three</a></li>
                            </ul> -->
                        </li>

                        <li class="nav-item">
                            <a
                                routerLink="/nosotros"
                                (click)="toggleClass()"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >Nosotros</a
                            >
                        </li>

                        <li class="nav-item">
                            <a
                                href="javascript:void(0)"
                                class="nav-link dropdown-toggle"
                                (click)="toggleDropdownSoluciones(false)"
                                >Soluciones</a
                            >

                            <ul
                                class="dropdown-menu"
                                *ngIf="isDropdownOpenSoluciones"
                            >
                                <li class="nav-item">
                                    <a
                                        routerLink="/desarrollo-mobile"
                                        (click)="toggleDropdownSoluciones(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Desarrollo Mobile</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/desarrollo-web"
                                        (click)="toggleDropdownSoluciones(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Desarrollo Web</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/pruebas-de-calidad"
                                        (click)="toggleDropdownSoluciones(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Pruebas De Calidad</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/gestion-ti"
                                        (click)="toggleDropdownSoluciones(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Gestión de TI</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/seguridad-cibernetica"
                                        (click)="toggleDropdownSoluciones(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Seguridad cibernética</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/conectividad-inalambrica"
                                        (click)="toggleDropdownSoluciones(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Conectividad inalámbrica</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a
                                href="javascript:void(0)"
                                class="nav-link dropdown-toggle"
                                (click)="toggleDropdownExito(false)"
                                >Casos De Éxito</a
                            >

                            <ul
                                class="dropdown-menu"
                                *ngIf="isDropdownOpenExito"
                            >
                                <li class="nav-item">
                                    <a
                                        routerLink="/joe-company"
                                        (click)="toggleDropdownExito(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Joe Company</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/ride-share-app"
                                        (click)="toggleDropdownExito(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Ride Share APP</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/restaurant-management"
                                        (click)="toggleDropdownExito(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Restaurant Management</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/it-software-company"
                                        (click)="toggleDropdownExito(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >IT Software Company</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/parking-management"
                                        (click)="toggleDropdownExito(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Parking Management</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/temperature-app"
                                        (click)="toggleDropdownExito(true)"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Temperature APP</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <!-- <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Blog</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/blog" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog</a></li>

                                <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Details</a></li>
                            </ul>
                        </li> -->

                        <!-- <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Pages</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/team" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Team</a></li>

                                <li class="nav-item"><a routerLink="/pricing" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pricing</a></li>

                                <li class="nav-item"><a routerLink="/gallery" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Gallery</a></li>

                                <li class="nav-item"><a routerLink="/testimonials" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Testimonials</a></li>

                                <li class="nav-item"><a routerLink="/sign-up" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sign Up</a></li>

                                <li class="nav-item"><a routerLink="/sign-in" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sign In</a></li>

                                <li class="nav-item"><a routerLink="/error" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Error 404</a></li>

                                <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">FAQ</a></li>

                                <li class="nav-item"><a routerLink="/terms-condition" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Terms & Conditions</a></li>

                                <li class="nav-item"><a routerLink="/privacy-policy" cl ass="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Privacy Policy</a></li>
                            </ul>
                        </li> -->

                        <li class="nav-item">
                            <a
                                (click)="toggleClass()"
                                routerLink="/contacto"
                                class="nav-link"
                                >Contacto
                            </a>
                        </li>

                        <li class="nav-item">
                            <a
                                (click)="toggleClass()"
                                routerLink="/login"
                                class="nav-link"
                                >Iniciar Sesión
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-right">
                    <form>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control search"
                                placeholder="Buscar..."
                            />
                        </div>

                        <button type="submit">
                            <i class="bx bx-search"></i>
                        </button>
                    </form>
                </div>
                <div class="nav-btn">
                    <a routerLink="/desarrollo-web" class="box-btn">Empezar</a>
                </div>
            </nav>
        </div>
    </div>
</div>
