<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Soluciones TI</h2>
            <ul>
                <li><a routerLink="/">Inicio </a></li>
                <li class="active">Gestión TI</li>
            </ul>
        </div>
    </div>

    <app-shape></app-shape>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-img mb">
                    <img
                        src="assets/images/solutions-details/ti-1.png"
                        alt="Image"
                    />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="services-img mb">
                    <img
                        src="assets/images/solutions-details/ti-2.png"
                        alt="Image"
                    />
                </div>
            </div>

            <div class="col-12">
                <div class="services-details-text">
                    <h2>Gestión TI</h2>
                    <p>
                        En <strong>Asanza Web Solutions</strong>, sabemos que
                        una gestión eficaz de TI es vital para el funcionamiento
                        óptimo de cualquier empresa moderna. Nuestros servicios
                        de gestión de TI están diseñados para asegurar que sus
                        sistemas de información sean siempre confiables, seguros
                        y eficientes, facilitando así la continuidad y el
                        crecimiento de su negocio. Nos especializamos en ofrecer
                        soluciones integrales que abarcan desde el mantenimiento
                        preventivo hasta la innovación estratégica, asegurando
                        que su infraestructura tecnológica pueda escalar y
                        adaptarse a las necesidades cambiantes del mercado.
                    </p>
                    <p>
                        Elegirnos como su proveedor de soluciones de TI
                        significa contar con un aliado que no solo entiende las
                        complejidades del entorno tecnológico actual, sino que
                        también posee la experiencia y las habilidades
                        necesarias para anticiparse y responder a los desafíos
                        futuros. En Asanza Web Solutions, nos distinguimos por
                        nuestra capacidad para integrar tecnologías avanzadas
                        con procesos empresariales, optimizando sus operaciones
                        y maximizando la eficiencia. Nuestro enfoque proactivo
                        en la gestión de TI garantiza que usted pueda centrarse
                        en su core business mientras nosotros aseguramos que su
                        tecnología funcione sin contratiempos. Con nosotros, su
                        inversión en TI se traduce en mejoras tangibles en
                        productividad y competitividad.
                    </p>
                </div>
            </div>
        </div>

        <app-redes-horinzontal></app-redes-horinzontal>
    </div>
</section>
