<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Soluciones Mobile</h2>
            <ul>
                <li><a routerLink="/">Inicio </a></li>
                <li class="active">Desarrollo Mobile</li>
            </ul>
        </div>
    </div>

    <div class="page-shape">
        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>
        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>
        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>
        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>
        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-img mb">
                    <img src="assets/images/solutions-details/mobile-1.png" alt="Image">
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="services-img mb">
                    <img src="assets/images/solutions-details/mobile-2.png" alt="Image">
                </div>
            </div>
            
            <div class="col-12">
                <div class="services-details-text">
                    <h2>Desarrollo mobile</h2>
                    <p>En la era digital actual, el desarrollo móvil se ha convertido en una pieza clave para el éxito empresarial. Reconociendo esta tendencia, en <strong>Asanza Web Solutions</strong>, nos especializamos en crear soluciones móviles robustas y escalables que no solo satisfacen las expectativas de funcionalidad y diseño, sino que también mejoran la interacción con el usuario y potencian el alcance de su negocio. Nuestra experiencia en el desarrollo de aplicaciones móviles asegura que su empresa pueda conectar con clientes de manera efectiva en cualquier momento y lugar, ofreciendo experiencias de usuario fluidas y atractivas que impulsan la lealtad y el compromiso del cliente.</p>
                    <p>Elegirnos como su socio de desarrollo móvil significa optar por un equipo que no solo entiende las tecnologías más avanzadas, sino que también se enfoca en estrategias personalizadas que se alinean con los objetivos específicos de su negocio. En Asanza Web Solutions, nos distinguimos por nuestra capacidad para integrar nuevas tecnologías de manera rápida y eficiente, asegurando que su aplicación móvil no solo esté a la vanguardia en innovación, sino que también sea segura, confiable y fácil de usar. Con nosotros, su inversión en tecnología móvil se traduce en resultados tangibles y ventajas competitivas sostenibles.</p>
                </div>
            </div>
        </div>
        
        <app-redes-horinzontal></app-redes-horinzontal>
    </div>
</section>