<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Soluciones Web</h2>
            <ul>
                <li><a routerLink="/">Inicio </a></li>
                <li class="active">Desarrollo Web</li>
            </ul>
        </div>
    </div>

    <div class="page-shape">
        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>
        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>
        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>
        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>
        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-img mb">
                    <img src="assets/images/solutions-details/1.png" alt="Image">
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="services-img mb">
                    <img src="assets/images/solutions-details/2.png" alt="Image">
                </div>
            </div>
            
            <div class="col-12">
                <div class="services-details-text">
                    <h2>Desarrollo web</h2>
                    <p>En <strong>Asanza Web Solutions</strong>, comprendemos que un desarrollo web eficaz es crucial para establecer una presencia online sólida y duradera. Nuestro enfoque en crear sitios web que no solo son visualmente atractivos, sino también funcionalmente ricos y optimizados para SEO, garantiza que su negocio destaque en el saturado espacio digital. Nos especializamos en diseñar soluciones web que reflejan la esencia de su marca, mejoran la experiencia del usuario y facilitan la conversión de visitantes en clientes leales.</p>
                    <p>Al elegirnos para el desarrollo de su sitio web, usted opta por un equipo que prioriza la adaptabilidad, la seguridad y la innovación. Nos enorgullecemos de nuestra capacidad para desarrollar sitios web que no solo cumplen con las expectativas actuales del mercado, sino que también están preparados para adaptarse a futuras demandas tecnológicas. En Asanza Web Solutions, nos aseguramos de que su presencia online sea potente, con un sitio web que no solo se vea bien, sino que también funcione de manera eficiente, sea fácil de navegar y esté optimizado para buscadores y dispositivos móviles. Con nosotros, su inversión en desarrollo web se convierte en una herramienta clave para el crecimiento y el éxito de su negocio.</p>
                </div>
            </div>
        </div>
        
        <app-redes-horinzontal></app-redes-horinzontal>
    </div>
</section>