<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Términos & Condiciones</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li class="active">Términos & Condiciones</li>
            </ul>
        </div>
    </div>

    <div class="page-shape">
        <div class="shape1">
            <img src="assets/images/shape/1.png" alt="shape" />
        </div>
        <div class="shape3">
            <img src="assets/images/shape/3.png" alt="shape" />
        </div>
        <div class="shape4">
            <img src="assets/images/shape/4.png" alt="shape" />
        </div>
        <div class="shape5">
            <img src="assets/images/shape/5.png" alt="shape" />
        </div>
        <div class="shape6">
            <img src="assets/images/shape/6.png" alt="shape" />
        </div>
    </div>
</div>

<section class="privecy-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Términos & Condiciones</span>
            <h2>!Queremos tenerte informado!</h2>
        </div>

        <h2>Introducción</h2>
        <p>
            Nos comprometemos a proteger la privacidad de nuestros clientes y
            usuarios que visitan nuestro sitio web. Esta política describe cómo
            recopilamos, utilizamos y protegemos la información personal que nos
            proporcionas.
        </p>
        <h2>Información que recopilamos</h2>
        <p>
            <strong>Información de contacto,</strong> como tu nombre, dirección
            de correo electrónico y número de teléfono cuando te registras para
            obtener nuestros servicios.
            <strong>Detalles del proyecto,</strong> información específica
            relacionada con los proyectos de desarrollo de software que nos
            encargues.
        </p>
        <h2>Uso de la información.</h2>
        <p>
            Entregar nuestros servicios y productos de desarrollo de software. <br>
            Comunicarnos contigo respecto a actualizaciones de proyectos, soporte y servicios. <br>
            Mejorar nuestros servicios y ofertas.
        </p>

        <h2>Seguridad de la información</h2>
        <p>
            Tomamos medidas de seguridad razonables para proteger la información
            contra el acceso no autorizado, alteración, divulgación o
            destrucción.
        </p>
        <h2>Cambios en la política de privacidad</h2>
        <p>
            Nos reservamos el derecho de modificar esta política en cualquier
            momento, así que revísala frecuentemente. Los cambios y aclaraciones
            entrarán en efecto inmediatamente después de su publicación en el
            sitio web.
        </p>
    </div>
</section>
