<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Restaurant Management & Web Developing</h2>
            <ul>
                <li><a routerLink="/">Inicio </a></li>
                <li class="active">Restaurant Management</li>
            </ul>
        </div>
    </div>

    <div class="page-shape">
        <div class="shape1">
            <img src="assets/images/shape/1.png" alt="shape" />
        </div>
        <div class="shape3">
            <img src="assets/images/shape/3.png" alt="shape" />
        </div>
        <div class="shape4">
            <img src="assets/images/shape/4.png" alt="shape" />
        </div>
        <div class="shape5">
            <img src="assets/images/shape/5.png" alt="shape" />
        </div>
        <div class="shape6">
            <img src="assets/images/shape/6.png" alt="shape" />
        </div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services-img mb">
                    <img src="assets/images/case-details/3.jpg" alt="Image" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="services-details-text">
                    <h2>Restaurant Management & Web Developing</h2>
                    <p>
                        El restaurante que nos contactó buscaba una
                        actualización integral para mejorar su presencia online
                        y eficientizar su gestión interna. Su elección de
                        [Nombre de la Compañía] fue impulsada por nuestra
                        especialización en soluciones tecnológicas para la
                        industria de la restauración y nuestro compromiso con la
                        entrega de resultados excepcionales. Nuestra
                        colaboración produjo un sitio web que no solo captura la
                        esencia de su marca, sino que también simplifica las
                        reservas y pedidos para sus clientes.
                    </p>
                    <p>
                        En el backend, implementamos un sistema de gestión a
                        medida que automatizó los procesos, reduciendo los
                        tiempos de espera y mejorando la experiencia general del
                        cliente. El restaurante pudo ver una notable mejora en
                        el manejo de la demanda y una optimización en la
                        asignación de recursos. Esta modernización ha llevado a
                        una gestión más eficiente, permitiendo al personal
                        enfocarse más en los clientes y menos en tareas que se
                        puedan optimizar.
                    </p>
                </div>
            </div>

            <app-redes-horinzontal></app-redes-horinzontal>
        </div>
    </div>
</section>
