<div class="scrives-item-3 mt-4">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-6">
            <div class="social">
                <ul class="social-link">
                    <li>
                        <a
                            target="_blank"
                            [href]="socialDataService.urlWhatsapp"
                            ><i class="bx bxl-whatsapp"></i
                        ></a>
                    </li>
                    <li>
                        <a
                            target="_blank"
                            [href]="socialDataService.urlInstagram"
                            ><i class="bx bxl-instagram"></i
                        ></a>
                    </li>
                    <li>
                        <a
                            target="_blank"
                            [href]="socialDataService.urlFacebook"
                            ><i class="bx bxl-facebook"></i
                        ></a>
                    </li>
                    <li>
                        <a target="_blank" [href]="socialDataService.urlEmail"
                            ><i class="bx bxs-envelope"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>

        <!--<div class="col-lg-6 col-sm-6">
            <div class="share">
                <a href="#" target="_blank"><i class="bx bx-share-alt"></i> Share</a>
            </div>
        </div>-->
    </div>
</div>
