<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Soluciones En Seguridad Cibernética</h2>
            <ul>
                <li><a routerLink="/">Inicio </a></li>
                <li class="active">Seguridad Cibernética</li>
            </ul>
        </div>
    </div>

    <div class="page-shape">
        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>
        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>
        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>
        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>
        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-img mb">
                    <img src="assets/images/solutions-details/seguridad-1.png" alt="Image">
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="services-img mb">
                    <img src="assets/images/solutions-details/seguridad-2.png" alt="Image">
                </div>
            </div>
            
            <div class="col-12">
                <div class="services-details-text">
                    <h2>Seguridad Cibernética</h2>
                    <p>En <strong>Asanza Web Solutions</strong>, reconocemos la importancia crítica de la seguridad cibernética en el mundo digital de hoy. Nuestro enfoque en ofrecer soluciones de seguridad robustas protege a las empresas de amenazas emergentes y vulnerabilidades en constante evolución. Nos dedicamos a implementar estrategias de defensa avanzadas, que incluyen la detección proactiva de amenazas, la respuesta rápida a incidentes y la recuperación efectiva, asegurando así la integridad y la confidencialidad de sus datos y sistemas.</p>
                    <p>Elegirnos para manejar su seguridad cibernética significa confiar en un equipo que no solo emplea las últimas tecnologías y prácticas de la industria, sino que también personaliza estas soluciones para satisfacer las necesidades específicas de su negocio. En Asanza Web Solutions, entendemos que la seguridad no es un producto único para todos; es un proceso continuo de mejora y adaptación. Nos enorgullecemos de nuestra capacidad para fortalecer la resiliencia de su empresa contra los ciberataques, minimizando riesgos y maximizando la confianza de sus clientes y socios. Con nosotros, su inversión en seguridad cibernética es una apuesta segura hacia un negocio más seguro y protegido.</p>
                </div>
            </div>
        </div>
        
        <app-redes-horinzontal></app-redes-horinzontal>
    </div>
</section>