<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1>
                                Desarrollo de páginas web, soporte y soluciones
                                eficaces
                            </h1>
                            <p>
                                Si lo puedes soñar, nosotros lo podemos
                                programar.
                            </p>
                            <div class="banner-btn">
                                <a routerLink="/contact" class="box-btn"
                                    >Contáctanos</a
                                >
                                <a
                                    routerLink="/about"
                                    class="box-btn border-btn"
                                    >Sobre Nosotros</a
                                >
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img
                                src="assets/images/home-bg-1-img.png"
                                alt="banner-img"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-shape">
        <div class="shape1">
            <img src="assets/images/shape/1.png" alt="shape" />
        </div>
        <div class="shape2">
            <img src="assets/images/shape/2.png" alt="shape" />
        </div>
        <div class="shape3">
            <img src="assets/images/shape/3.png" alt="shape" />
        </div>
        <div class="shape4">
            <img src="assets/images/shape/4.png" alt="shape" />
        </div>
        <div class="shape5">
            <img src="assets/images/shape/5.png" alt="shape" />
        </div>
        <div class="shape6">
            <img src="assets/images/shape/6.png" alt="shape" />
        </div>
    </div>
</section>

<section class="home-service-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Servicios inteligentes</span>
            <h2>
                <strong>Asanza Web Solutions</strong> proporciona todo tipo de
                soluciones tecnológicas
            </h2>
            <p>
                En Asanza Web Solutions, nos especializamos en ofrecer una
                amplia gama de soluciones tecnológicas diseñadas para impulsar
                la eficiencia y fomentar el crecimiento de su negocio. Desde el
                desarrollo de sitios web personalizados hasta soluciones
                avanzadas de software y estrategias de marketing digital,
                nuestro equipo está equipado para atender todas sus necesidades
                tecnológicas con profesionalismo y creatividad.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s1.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Desarrollo mobile</h3>
                        <p>
                            Creamos aplicaciones móviles innovadoras que ofrecen
                            una experiencia de usuario excepcional, adaptadas a
                            las necesidades específicas de cada cliente y
                            optimizadas para todos los dispositivos móviles,
                            garantizando una interacción fluida y eficaz.
                        </p>
                        <a routerLink="/desarrollo-mobile" class="line-bnt"
                            >Leer Más</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s2.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Desarrollo web</h3>
                        <p>
                            Nuestro enfoque en el desarrollo web se centra en
                            crear sitios dinámicos, responsivos y fácilmente
                            gestionables. Utilizamos las últimas tecnologías
                            para asegurar que su sitio web no solo se vea bien,
                            sino que también funcione de manera óptima en todas
                            las plataformas.
                        </p>
                        <a routerLink="/desarrollo-web" class="line-bnt"
                            >Leer Más</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s3.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Pruebas de calidad</h3>
                        <p>
                            Junto a nuestro equipo de QA garantizamos la máxima
                            y más alta calidad de nuestros proyectos a través de
                            exhaustivas pruebas de software, asegurando que cada
                            producto final sea robusto, seguro y libre de
                            errores, listo para operar en el competitivo mercado
                            actual.
                        </p>
                        <a routerLink="/pruebas-de-calidad" class="line-bnt"
                            >Leer Más</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s4.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Gestión de TI</h3>
                        <p>
                            Ofrecemos servicios integrales de gestión de TI que
                            cubren desde la infraestructura hasta el soporte y
                            mantenimiento, ayudando a las empresas a mejorar sus
                            operaciones y a reducir costos sin comprometer la
                            calidad o la seguridad.
                        </p>
                        <a routerLink="/gestion-ti" class="line-bnt"
                            >Leer Más</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s5.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Seguridad cibernética</h3>
                        <p>
                            Nuestros expertos en seguridad cibernética están
                            dedicados a proteger sus sistemas y datos de
                            amenazas externas, empleando las últimas
                            herramientas y prácticas de seguridad para prevenir,
                            detectar y responder a incidentes de seguridad.
                        </p>
                        <a routerLink="/seguridad-cibernetica" class="line-bnt"
                            >Leer Más</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s6.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Conectividad inalámbrica</h3>
                        <p>
                            Diseñamos e implementamos soluciones de conectividad
                            inalámbrica de alto rendimiento que garantizan
                            conexiones seguras, confiables y rápidas para
                            empresas de todos los tamaños, permitiendo una
                            comunicación efectiva y continua en todo momento.
                        </p>
                        <a
                            routerLink="/conectividad-inalambrica"
                            class="line-bnt"
                            >Leer Más</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-company-area bg-color">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="company-content">
                    <div class="company-tittle">
                        <span>Nuestra Compañía</span>
                        <h2>Innovador servicio de ayuda en todo el mundo</h2>
                        <p>
                            Llevamos más de una década liderando el sector de
                            desarrollo de software a medida y soluciones
                            digitales innovadoras. Nuestra empresa se ha
                            destacado por crear estrategias virtuales efectivas
                            y proporcionar una presencia online robusta para una
                            amplia gama de clientes. Con un equipo de
                            profesionales altamente experimentados, nos
                            enorgullecemos de nuestra capacidad para transformar
                            visiones digitales en realidades tangibles,
                            asegurando que cada proyecto no solo cumpla, sino
                            que supere las expectativas de nuestros clientes.
                        </p>
                    </div>

                    <a routerLink="/about" class="box-btn">Saber Más</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="company-img">
                    <img
                        src="assets/images/company/company-img.jpg"
                        alt="company"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choose-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Elígenos</span>
            <h2>
                Conseguimos la confianza de las personas gracias a nuestro gran
                servicio
            </h2>
            <p>
                Elegir <strong>Asanza Web Solutions</strong> significa optar por
                un socio confiable y experto en el campo del desarrollo de
                software y soluciones digitales. Nos distinguimos por nuestro
                compromiso con la excelencia, nuestra capacidad para entregar
                proyectos a tiempo y dentro del presupuesto, y nuestra
                dedicación a personalizar cada solución para satisfacer las
                necesidades específicas de cada cliente.
            </p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-img">
                    <img src="assets/images/choose-img.png" alt="choose" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="faq-accordion">
                        <div
                            class="faq-item"
                            *ngFor="let item of accordionItems; let i = index"
                        >
                            <div
                                class="faq-header"
                                (click)="toggleAccordionItem(item)"
                            >
                                {{ item.title }}
                                <i
                                    class="bx"
                                    [ngClass]="{
                                        'bx-plus': !item.open,
                                        'bx-x': item.open
                                    }"
                                ></i>
                            </div>
                            <div class="faq-content" [hidden]="!item.open">
                                <p>{{ item.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-process-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Proceso de trabajo</span>
            <h2>Somos populares por nuestra forma de trabajar.</h2>
            <p>
                Nuestra reputación se cimenta en un enfoque de trabajo
                colaborativo, transparente y orientado a resultados, que hace de
                cada proyecto una experiencia excepcional para nuestros
                clientes.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-process">
                    <div class="icon">
                        <img src="assets/images/process/p1.png" alt="process" />
                        <span
                            ><img
                                src="assets/images/process/next.png"
                                alt="shape"
                        /></span>
                    </div>

                    <div class="content">
                        <h3>Producto de investigación</h3>
                        <p>
                            Comenzamos cada proyecto sumergiéndonos en la
                            investigación, asegurando que comprendemos cada
                            faceta del producto y las necesidades del usuario
                            para una solución que resuene con el mercado.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-process">
                    <div class="icon">
                        <img src="assets/images/process/p2.png" alt="process" />
                        <span class="pro-span"
                            ><img
                                src="assets/images/process/next.png"
                                alt="shape"
                        /></span>
                    </div>

                    <div class="content">
                        <h3>Pruebas de usuario</h3>
                        <p>
                            Nuestro enfoque en pruebas con usuarios reales
                            garantiza que los productos no solo cumplen con las
                            especificaciones técnicas, sino que también ofrecen
                            una experiencia de usuario excepcional y una
                            usabilidad intuitiva.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-process">
                    <div class="icon">
                        <img src="assets/images/process/p3.png" alt="process" />
                        <span
                            ><img
                                src="assets/images/process/next.png"
                                alt="shape"
                        /></span>
                    </div>

                    <div class="content">
                        <h3>Desarrollo</h3>
                        <p>
                            La fase de desarrollo es donde nuestra maestría
                            técnica toma el escenario principal, convirtiendo la
                            investigación y el feedback en un producto
                            sofisticado y de alta calidad.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-process">
                    <div class="icon">
                        <img src="assets/images/process/p4.png" alt="process" />
                    </div>

                    <div class="content">
                        <h3>Entrega de producto</h3>
                        <p>
                            La entrega del producto representa el comienzo de
                            una nueva etapa, no el final de nuestro compromiso.
                            Aseguramos una transición suave y continuamos
                            brindando soporte para el éxito a largo plazo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-case ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Casos De Éxito</span>
            <h2>Dale un vistazo a nuestra muestro de trabajo</h2>
            <p></p>
        </div>
        <div class="case">
            <ul class="nav-tabset">
                <li
                    class="nav-tab"
                    [ngClass]="{ active: currentTab === 'tab1' }"
                >
                    <span (click)="switchTab($event, 'tab1')"> Todos </span>
                </li>
                <li
                    class="nav-tab"
                    [ngClass]="{ active: currentTab === 'tab2' }"
                >
                    <span (click)="switchTab($event, 'tab2')"> Diseño </span>
                </li>
                <li
                    class="nav-tab"
                    [ngClass]="{ active: currentTab === 'tab3' }"
                >
                    <span (click)="switchTab($event, 'tab3')">
                        Desarrollo
                    </span>
                </li>
                <li
                    class="nav-tab"
                    [ngClass]="{ active: currentTab === 'tab4' }"
                >
                    <span (click)="switchTab($event, 'tab4')">
                        Seguridad Cibernética
                    </span>
                </li>
            </ul>

            <div class="tabs-container">
                <div class="pane" id="tab1" *ngIf="currentTab === 'tab1'">
                    <div class="row case-list">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-case">
                                <div class="case-img">
                                    <a routerLink="/joe-company"
                                        ><img
                                            src="assets/images/case/c1.jpg"
                                            alt="case"
                                    /></a>
                                </div>

                                <div class="content">
                                    <a routerLink="/joe-company"
                                        ><h3>
                                            Innovación en Desarrollo de Software
                                            para Joe’s Company
                                        </h3></a
                                    >
                                    <p>
                                        Joe’s Company dio un salto cuántico
                                        hacia adelante en su capacidad operativa
                                        y eficiencia con nuestro software
                                        personalizado, marcando un nuevo
                                        estándar de excelencia en su sector.
                                    </p>
                                    <a
                                        routerLink="/joe-company"
                                        class="line-bnt"
                                        >Ver detalles del proyecto</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-case">
                                <div class="case-img">
                                    <a routerLink="/ride-share-app"
                                        ><img
                                            src="assets/images/case/c2.jpg"
                                            alt="case"
                                    /></a>
                                </div>

                                <div class="content">
                                    <a routerLink="/ride-sahre-app"
                                        ><h3>
                                            Ride Share App UX Studies &
                                            Development Case
                                        </h3></a
                                    >
                                    <p>
                                        La Ride Share App revitalizó su
                                        plataforma con una interfaz de usuario
                                        renovada, mejorando significativamente
                                        la interacción del usuario y su
                                        satisfacción general.
                                    </p>
                                    <a
                                        routerLink="/ride-share-app"
                                        class="line-bnt"
                                        >Ver detalles del proyecto</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-case">
                                <div class="case-img">
                                    <a routerLink="/restaurant-management"
                                        ><img
                                            src="assets/images/case/c3.jpg"
                                            alt="case"
                                    /></a>
                                </div>

                                <div class="content">
                                    <a routerLink="/restaurant-management"
                                        ><h3>
                                            Restaurant Management & Web
                                            Developing
                                        </h3></a
                                    >
                                    <p>
                                        Nuestro desarrollo web para el
                                        restaurante ha convertido la gestión y
                                        la reserva en línea en un proceso sin
                                        esfuerzo, potenciando su servicio y
                                        hospitalidad.
                                    </p>
                                    <a
                                        routerLink="/restaurant-management"
                                        class="line-bnt"
                                        >Ver detalles del proyecto</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-case">
                                <div class="case-img">
                                    <a routerLink="/it-software-company"
                                        ><img
                                            src="assets/images/case/c4.jpg"
                                            alt="case"
                                    /></a>
                                </div>

                                <div class="content">
                                    <a routerLink="/it-software-company"
                                        ><h3>
                                            IT Software Company Development Case
                                        </h3></a
                                    >
                                    <p>
                                        Potenciamos a la compañía de software IT
                                        con herramientas avanzadas, colocándola
                                        en la cima de la innovación y el
                                        rendimiento técnico.
                                    </p>
                                    <a
                                        routerLink="/it-software-company"
                                        class="line-bnt"
                                        >Ver detalles del proyecto</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-case">
                                <div class="case-img">
                                    <a routerLink="/parking-management"
                                        ><img
                                            src="assets/images/case/c5.jpg"
                                            alt="case"
                                    /></a>
                                </div>

                                <div class="content">
                                    <a routerLink="/parking-management"
                                        ><h3>
                                            Parking Management & Web Developing
                                        </h3></a
                                    >
                                    <p>
                                        Transformamos la gestión de
                                        estacionamientos con un sistema
                                        inteligente y web integrada, facilitando
                                        una operación fluida y moderna.
                                    </p>
                                    <a
                                        routerLink="/parking-management"
                                        class="line-bnt"
                                        >Ver detalles del proyecto</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-case">
                                <div class="case-img">
                                    <a routerLink="/temperature-app"
                                        ><img
                                            src="assets/images/case/c6.jpg"
                                            alt="case"
                                    /></a>
                                </div>

                                <div class="content">
                                    <a routerLink="/temperature-app"
                                        ><h3>
                                            Temperature App UX Studies &
                                            Development Case
                                        </h3></a
                                    >
                                    <p>
                                        Elevamos la app de temperatura con
                                        estudios de UX y desarrollo ágil,
                                        brindando una experiencia de usuario que
                                        destaca por su intuitividad y diseño
                                        atractivo.
                                    </p>
                                    <a
                                        routerLink="/temperature-app"
                                        class="line-bnt"
                                        >Ver detalles del proyecto</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab2" *ngIf="currentTab === 'tab2'">
                    <app-diseno></app-diseno>
                </div>
                <div class="pane" id="tab3" *ngIf="currentTab === 'tab3'">
                    <app-desarrollo></app-desarrollo>
                </div>
                <div class="pane" id="tab4" *ngIf="currentTab === 'tab4'">
                    <app-seguridad-cibernetica-exito></app-seguridad-cibernetica-exito>
                </div>
            </div>
        </div>
        <!-- <div class="case-btn text-center">
            <p>We Have More Amazing Cases. <a routerLink="/">View More</a></p>
        </div> -->
    </div>
</section>

<section class="feature-area bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <span>Servicios</span>
                        <h2>Nuestros Servicios</h2>
                        <p>
                            Ofrecemos un espacio que no solo sirve como un lugar
                            de trabajo, sino como un centro de aprendizaje y
                            desarrollo profesional. A través de nuestro
                            Instituto de Aprendizaje de TI y nuestros servicios
                            de marketing digital, aseguramos que nuestros
                            clientes estén siempre a la vanguardia,
                            capitalizando las últimas tendencias y tecnologías.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <i class="flaticon-correct"></i> Programación
                            Personalizada
                        </li>
                        <li>
                            <i class="flaticon-correct"></i> Soluciones en
                            WordPress
                        </li>
                        <li>
                            <i class="flaticon-correct"></i> Inducción
                            Tecnológica
                        </li>
                        <li>
                            <i class="flaticon-correct"></i> Desarrollo Web con
                            C# .NET y SQL Server
                        </li>
                        <li>
                            <i class="flaticon-correct"></i> Servicios de
                            Alojamiento Web
                        </li>
                        <li>
                            <i class="flaticon-correct"></i> Creación de Páginas
                            Web a Medida
                        </li>
                        <li>
                            <i class="flaticon-correct"></i> Gestión de
                            Despliegues
                        </li>
                        <li>
                            <i class="flaticon-correct"></i> Seguridad Integrada
                        </li>
                    </ul>
                    <a routerLink="/contact" class="box-btn">Hablemos!</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="feature-img">
                    <img src="assets/images/feature-img.png" alt="feature" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-team-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Miembros del equipo</span>
            <h2>Personas que están detrás de los logros</h2>
            <p>
                En <strong>Asanza Web Solutions</strong>, creemos firmemente que
                el éxito se construye sobre el talento y la dedicación de
                nuestro equipo. Cada uno de nuestros profesionales aporta una
                mezcla única de habilidades, experiencia y creatividad, lo que
                nos permite ofrecer soluciones de software personalizadas que no
                solo cumplen, sino que superan las expectativas de nuestros
                clientes. Desde desarrolladores y diseñadores hasta analistas y
                gerentes de proyecto, cada miembro de nuestro equipo juega un
                papel crucial en la entrega de productos excepcionales y en el
                soporte continuo que ofrecemos.
            </p>
        </div>
        <div class="home-team-slider">
            <owl-carousel-o [options]="teamSlides">
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/images/team/t1.jpg" alt="team" />

                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-linkedin"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxs-envelope"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="content text-center">
                            <h3>John Smith</h3>
                            <p>Full Stack Developer</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/images/team/t2.jpg" alt="team" />

                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-linkedin"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxs-envelope"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="content text-center">
                            <h3>Evana Doe</h3>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/images/team/t3.jpg" alt="team" />

                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-linkedin"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxs-envelope"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="content text-center">
                            <h3>Bread Mc</h3>
                            <p>IT Consulting</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/images/team/t4.jpg" alt="team" />

                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-linkedin"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxs-envelope"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="content text-center">
                            <h3>Maria Fread</h3>
                            <p>UI/UX Designer</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/images/team/t1.jpg" alt="team" />

                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-linkedin"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxs-envelope"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="content text-center">
                            <h3>John Smith</h3>
                            <p>Full Stack Developer</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/images/team/t2.jpg" alt="team" />

                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-linkedin"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxs-envelope"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="content text-center">
                            <h3>Evana Doe</h3>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/images/team/t3.jpg" alt="team" />

                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-linkedin"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxs-envelope"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="content text-center">
                            <h3>Bread Mc</h3>
                            <p>IT Consulting</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/images/team/t4.jpg" alt="team" />

                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-linkedin"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxl-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        ><i class="bx bxs-envelope"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="content text-center">
                            <h3>Maria Fread</h3>
                            <p>UI/UX Designer</p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>

<app-testimonios></app-testimonios>

<!--
<section class="home-blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Blog Post</span>
            <h2>Our Regular Blogs</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A
                facilis vel consequatur tempora atque blanditiis exercitationem
                incidunt, alias corporis quam assumenda dicta.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"
                            ><img src="assets/images/blog/1.jpg" alt="blog"
                        /></a>
                    </div>

                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a routerLink="/blog-details"
                            ><h3>Joe’s Company Software Development Case</h3></a
                        >
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Voluptas in fugit minima modi perspiciatis nam
                            aspernatur porro
                        </p>
                        <a routerLink="/blog-details" class="line-bnt"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"
                            ><img src="assets/images/blog/5.jpg" alt="blog"
                        /></a>
                    </div>

                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a routerLink="/blog-details"
                            ><h3>
                                Temperature App UX Studies & Development Case
                            </h3></a
                        >
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Voluptas in fugit minima modi perspiciatis nam
                            aspernatur porro
                        </p>
                        <a routerLink="/blog-details" class="line-bnt"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"
                            ><img src="assets/images/blog/3.jpg" alt="blog"
                        /></a>
                    </div>

                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a routerLink="/blog-details"
                            ><h3>IT Software Company Development Case</h3></a
                        >
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Voluptas in fugit minima modi perspiciatis nam
                            aspernatur porro
                        </p>
                        <a routerLink="/blog-details" class="line-bnt"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-btn text-center">
            <p>
                We Have More Usefull Blogs For You.
                <a routerLink="/blog">View More</a>
            </p>
        </div>
    </div>
</section>
-->

<app-contacto [imageName]="imageName"></app-contacto>
