<section class="home-contact-area bg-color ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Contácto</span>
            <h2>!Haznos saber acerca de tu idea de proyecto!</h2>
            <p>Y recuerda: si lo puedes soñar, nosotros lo podemos programar</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="contact-img">
                    <img [src]="imageUrl" alt="contact" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="content">
                    <form
                        id="contactForm"
                        (ngSubmit)="onClickSubmit()"
                        novalidate
                    >
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input
                                        type="text"
                                        name="name"
                                        id="name"
                                        class="form-control"
                                        required
                                        placeholder="Nombres"
                                        [(ngModel)]="name"
                                        #nameField="ngModel"
                                        [ngClass]="{ 'mb-0': !nameIsValid }"
                                    />
                                    <div *ngIf="!nameIsValid" class="mb-3">
                                        <span class="text-danger">{{
                                            nameErrorText
                                        }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input
                                        type="email"
                                        name="email"
                                        id="email"
                                        class="form-control"
                                        required
                                        placeholder="Email"
                                        [(ngModel)]="email"
                                        #nameField="ngModel"
                                        [ngClass]="{ 'mb-0': !emailIsValid }"
                                    />
                                </div>
                                <div *ngIf="!emailIsValid" class="mb-3">
                                    <span class="text-danger">{{
                                        emailErrorText
                                    }}</span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input
                                        type="text"
                                        name="phone_number"
                                        id="phone_number"
                                        required
                                        class="form-control"
                                        placeholder="Teléfono"
                                        [(ngModel)]="phoneNumber"
                                        #nameField="ngModel"
                                        [ngClass]="{
                                            'mb-0': !phoneNumberIsValid
                                        }"
                                    />
                                    <div
                                        *ngIf="!phoneNumberIsValid"
                                        class="mb-3"
                                    >
                                        <span class="text-danger">{{
                                            phoneNumberErrorText
                                        }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input
                                        type="text"
                                        name="msg_subject"
                                        id="msg_subject"
                                        class="form-control"
                                        required
                                        placeholder="Asunto"
                                        [(ngModel)]="subject"
                                        #nameField="ngModel"
                                        [ngClass]="{ 'mb-0': !subjectIsValid }"
                                    />
                                    <div *ngIf="!subjectIsValid" class="mb-3">
                                        <span class="text-danger">{{
                                            subjectErrorText
                                        }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea
                                        name="message"
                                        class="form-control"
                                        id="message"
                                        cols="30"
                                        rows="5"
                                        required
                                        placeholder="Mensaje"
                                        [(ngModel)]="message"
                                        #nameField="ngModel"
                                        [ngClass]="{ 'mb-0': !messageIsValid }"
                                    ></textarea>
                                    <div *ngIf="!messageIsValid" class="mb-3">
                                        <span class="text-danger">{{
                                            messageErrorText
                                        }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col col-12">
                                    <div
                                        *ngIf="showAlertConfirm"
                                        class="alert alert-success"
                                        role="alert"
                                    >
                                        Enviado exitosamente!
                                    </div>
                                    <div
                                        *ngIf="showAlertError"
                                        class="alert alert-danger"
                                        role="alert"
                                    >
                                        Hubo un error al enviar los datos,
                                        contacta con nosotros por Whatsapp!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button
                                    type="submit"
                                    class="default-btn page-btn box-btn"
                                >
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>
