<footer class="footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="content">
                    <div class="logo">
                        <a routerLink="/"
                            ><img src="assets/images/logofooter.png" alt="logo"
                        /></a>
                    </div>
                    <p>
                        Transformando tus ideas en experiencias digitales
                        excepcionales.
                    </p>

                    <div class="subscribe">
                        <h4>Únete al boletín</h4>
                        <form class="newsletter-form">
                            <input
                                type="email"
                                id="emails"
                                class="form-control"
                                placeholder="tuemail@gmai.com"
                                name="EMAIL"
                                required
                                autocomplete="off"
                                [(ngModel)]="email"
                            />
                            <button
                                class="box-btn"
                                type="submit"
                                (click)="onSubscribe()"
                            >
                                Suscribete
                            </button>
                        </form>
                    </div>

                    <div class="row text-center">
                        <div class="col col-12">
                            <div
                                *ngIf="!showAlertConfirm"
                                class="alert alert-success"
                                role="alert"
                            >
                                Enviado exitosamente!
                                <br>
                                ¡Nos pondremos en contacto contigo lo antes posible!
                            </div>
                            <div
                                *ngIf="showAlertError"
                                class="alert alert-danger"
                                role="alert"
                            >
                                {{ emailErrorText }}
                            </div>
                        </div>
                    </div>

                    <ul class="social">
                        <li>
                            <a
                                [href]="socialDataService.urlFacebook"
                                target="_blank"
                                ><i class="bx bxl-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                [href]="socialDataService.urlInstagram"
                                target="_blank"
                                ><i class="bx bxl-instagram"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                [href]="socialDataService.urlEmail"
                                target="_blank"
                                ><i class="bx bxs-envelope"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                [href]="socialDataService.urlWhatsapp"
                                target="_blank"
                                ><i class="bx bxl-whatsapp"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="content ml-15">
                    <h3>Nuestros Servicios</h3>

                    <ul class="footer-list">
                        <li>
                            <a routerLink="/desarrollo-mobile"
                                >Desarrollo Mobile</a
                            >
                        </li>
                        <li>
                            <a routerLink="/desarrollo-web">Desarrollo Web</a>
                        </li>
                        <li>
                            <a routerLink="/pruebas-de-calidad"
                                >Pruebas de Calidad</a
                            >
                        </li>
                        <li><a routerLink="/gestion-ti">Gestión de TI</a></li>
                        <li>
                            <a routerLink="/seguridad-cibernetica"
                                >Seguridad Cibernética</a
                            >
                        </li>
                        <li>
                            <a routerLink="/conectividad-inalambrica"
                                >Conectividad Inalámbrica</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="content">
                    <h3>Enlaces</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/nosotros">Nosotros</a></li>
                        <li>
                            <a routerLink="/terminos-condiciones"
                                >Términos & Condiciones</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="content contacts">
                    <h3 class="ml-40">Contacto</h3>

                    <ul class="footer-list foot-social">
                        <li>
                            <a [href]="socialDataService.urlPhone"
                                ><i class="bx bx-mobile-alt"></i
                                >{{ socialDataService.phone }}</a
                            >
                        </li>
                        <li>
                            <a [href]="socialDataService.urlEmail"
                                ><i class="bx bxs-envelope"></i>
                                {{ socialDataService.email }}</a
                            >
                        </li>
                        <li>
                            <a [href]="socialDataService.urlEmailPrivate"
                                ><i class="bx bxs-envelope"></i>
                                {{ socialDataService.emailPrivate }}</a
                            >
                        </li>
                        <li><i class="bx bxs-map"></i> 08700, Igualada, ESP</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="menu">
                        <li><a routerLink="/">Inicio</a></li>
                        <li><a routerLink="/nosotros">Nosotros</a></li>
                        <li><a routerLink="/contacto">Contacto</a></li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <p>
                        © {{ currentYear }} AWS. Todos los derechos reservados.
                        <a
                            [href]="socialDataService.urlWhatsapp"
                            target="_blank"
                            >Whatsapp.</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
