<div class="row case-list">
    <div class="col-lg-4 col-sm-6">
        <div class="single-case">
            <div class="case-img">
                <a routerLink="/case-studies-details"
                    ><img src="assets/images/case/c4.jpg" alt="case"
                /></a>
            </div>

            <div class="content">
                <a routerLink="/case-studies-details"
                    ><h3>IT Software Company Development Case</h3></a
                >
                <p>
                    Lorem ipsum dolor sit amet, coloni is to nsectetur
                    adipiscing elit, sed do eiudvi smod tempor incididunt ipsum
                    dolor.
                </p>
                <a routerLink="/case-studies-details" class="line-bnt"
                    >View Project Details</a
                >
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-case">
            <div class="case-img">
                <a routerLink="/case-studies-details"
                    ><img src="assets/images/case/c5.jpg" alt="case"
                /></a>
            </div>

            <div class="content">
                <a routerLink="/case-studies-details"
                    ><h3>Parking Management & Web Developing</h3></a
                >
                <p>
                    Lorem ipsum dolor sit amet, coloni is to nsectetur
                    adipiscing elit, sed do eiudvi smod tempor incididunt ipsum
                    dolor.
                </p>
                <a routerLink="/case-studies-details" class="line-bnt"
                    >View Project Details</a
                >
            </div>
        </div>
    </div>
</div>
