.green-btn {
    background-color: green;
    border-color: green;
}

.input-group .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-group .input-group-append .btn {
    border-radius: 0 0.25rem 0.25rem 0;
}